body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #262729;
  user-select: none;
  line-height: 1.7;
}

*,
::before,
::after {
  box-sizing: border-box;
}


.pages-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Routes {
  flex-grow: 1;
}

input::selection {
  background: #262729; 
  color: #34cad2;
}

input:focus {
  outline: none;
  border-color: #262729;
  box-shadow: 0 1px 8px #262729;
}