body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #262729;
  user-select: none;
  line-height: 1.7;
}

*,
::before,
::after {
  box-sizing: border-box;
}


.pages-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Routes {
  flex-grow: 1;
}

input::selection {
  background: #262729; 
  color: #34cad2;
}

input:focus,
textarea:focus { 
  border-color: #262729 !important;
  box-shadow: 0 1px 8px #262729 !important;
}

.error-message {
  color: #d40606;
  font-weight: bold;
  font-size: 13px;
  min-height: 25px;
}

.form-style.error {
  border: 1px solid #d40606;
}

input {
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  transition: all 200ms linear;
  box-shadow: 0px 2px 15px #00000085;
  -webkit-transition: all 200ms linear;
  color: #262729;
  background-color: #fff;
  border: none;
  outline: none;
}
