.booking-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-title {
    font-size: 50px;
    color: #34cad2;
    text-shadow: 0px 2px 10px #00000085;
}

.booking-h3 {
    color: #34cad2;
    font-size: 24px;
}

.current-bookings-container {
    width: 95%;
    padding: 15px 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(to bottom, #0000004f, #fffdfd0a);
    box-shadow: 0px 5px 10px #00000085;
}

.booking-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 75%;
    max-width: 650px;
    padding: 10px 10px 0;
    box-shadow: 0px 2px 10px #00000085;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ffffff, #ffffffd2);
}


.booking-infos {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.booking-img img {
    width: 90%;
    height: 230px;
    border-radius: 20px;
    margin: 0 0 -20px 20px;
    box-shadow: 0px 2px 10px #00000085;
}

.display-container {
    color: #34cad2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 45px;
}

.booking-display {
    box-shadow: 0px 2px 10px #00000085;
    padding: 10px 15px 0px;
    border-radius: 20px;
    background-color: #272629;
    width: 110%;
    margin-top: 20px;
}

.booking-display:hover {
    background-color: #34cad2;
    color: #262729;
    transition: .6s;
    scale: 1.1;
}

.booking-roomName,
.booking-day,
.booking-time {
    margin-top: 0;
    font-weight: bold;
    box-shadow: none;
    font-size: 16.5px;
}

.cancel-button {
    background-color: #fff;
    color: #d61111;
    border: 1px solid #d61111;
    padding: 8px 18px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px #00000085;
}

.cancel-button:hover {
    background-color: #d61111;
    color: #fff;
    border: 1px solid #fff;
    transition: .6s;
    scale: 1.1;
}

.past-bookings-container {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background: linear-gradient(to top, #0000004f, #fffdfd05);
    border-radius: 20px;
    padding: 15px 0 50px;
    box-shadow: 0px 5px 10px #00000085;
}

.past-booking-display {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.past-booking-box {
    width: 75%;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px -2px 10px #00000085;
    background: linear-gradient(to right, #ffffff, #ffffffd2);
    z-index: 2;
}

.past-booking-infos {
    display: flex;
    justify-content: space-between;
}

.erase-button {
    background-color: #fff;
    color: #d61111;
    border: 1px solid #d61111;
    padding: 8px 18px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px #00000085;
}

.erase-button:hover {
    background-color: #d61111;
    color: #fff;
    border: 1px solid #fff;
    transition: .6s;
    scale: 1.1;
}

@media (max-width: 930px) {
    .booking-box,
    .past-booking-box {
        width: 85%;
    }
}

@media (max-width: 770px) {
    .booking-box,
    .past-booking-box {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .booking-box,
    .past-booking-box {
        width: 95%;
    }

    .display-container {
        margin-top: 15px;
    }
}

@media (max-width: 650px) {

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 14px;
    }

    .booking-box {
        padding-bottom: 20px;
    }
}

@media (max-width: 610px) {

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 13px;
    }

    .booking-display {
        width: 125%;
    }
    
    .past-booking-display {
        font-size: 14px;
    }

}

@media (max-width: 550px) {
    .booking-infos {
        flex-direction: column;
    }

    .booking-box {
        width: 70%;
        align-items: center;
    }

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 16px;
    }

    .display-container {
        margin: 0;
        align-items: center;
    }

    .booking-display {
        width: 70%;
    }

    .booking-img img {
        width: 80%;
        height: 220px;
        margin: 0 0 0 35px;
    }

    .past-booking-display {
        display: flex;
        flex-direction: row;
        margin-bottom: -15px;
    }

    .past-booking-infos {
        flex-direction: column;
        align-items: center;
    }

    .past-bookings-container {
        width: 80%;
    }
}

@media (max-width: 505px) {

    .booking-display {
        width: 85%;
    }

    .booking-img img {
        width: 90%;
        margin: 0 0 0 17px;
    }

    .booking-title {
        font-size: 40px;
    }

    .booking-box {
        width: 80%;
    }

    .past-booking-display {
        font-size: 13.5px;
    }

    .past-bookings-container {
        width: 87%;
    }

    .erase-button {
        padding: 6px 12px;
        margin: 10px;
        font-size: 14px;
    }
}

@media (max-width: 412px) {

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 16px;
    }

    .booking-img img {
        width: 90%;
        height: 180px;
        margin: 0 0 0 12px;
    }

    .past-booking-display {
        font-size: 13px;
    }

    .past-bookings-container {
        width: 98%;
    }
}

@media (max-width: 350px) {

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 14px;
    }

    .booking-title {
        font-size: 30px;
    }

    .past-booking-display {
        font-size: 11px;
    }

    .past-bookings-container {
        width: 95%;
    }
}

@media (max-width: 320px) {

    .booking-roomName,
    .booking-day,
    .booking-time {
        font-size: 13px;
    }

    .booking-box {
        width: 95%;
    }

    .past-booking-display {
        font-size: 10px;
    }

    .erase-button {
        padding: 4px 9px;
        margin: 10px;
        font-size: 11px;
    }
}