.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 50px;
}
.button-container {
  display: flex;
  align-items: center;
}
.horario,
.reserva,
.arena-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  position: relative;
}
.reserva {
  margin-left: 25px;
}

/* Define the styles for TimeList container */
.horarios-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 350px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  z-index: 2;
}

.timesList {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Define the styles for the control wrapper in TimeList */
.timelist-buttons {
  display: flex;
  flex-direction: row;
}

.fromTo {
  font-weight: bold;
  margin-bottom: 5px;
}


/* Define the styles for the time buttons in TimeList */
.timelist-tags {
  font-size: 14px;
  padding: 8px;
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin: 5px;
}

/* Define the styles for "Close" and "Back" buttons in TimeList */
.timelist-buttons button {
  font-size: 14px;
  padding: 8px;
  background-color: transparent;
  position: absolute;
}

.timelist-close {
  top: 2px;
  right: 2px;
}

.timelist-back {
  top: 2px;
  left: 2px;
}

.timesList::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.timesList::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 3px solid #f5f5f5; 
}

.timesList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Define the styles for the disabled button state */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Define the hover effect for TimeButton */
.horario:hover,
.arena-btn:hover {
  scale: 1.1;
  transition: 500ms;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}

/* Define the hover effect for ReserveButton when active */
.reserva.on:hover {
  scale: 1.1;
  transition: 500ms;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}

/* Define the styles for the individual time buttons in TimeList */
.btn-horario {
  border-radius: 10px;
  font-weight: bold;
}

/* Define the hover effect for the individual time buttons in TimeList */
.btn-horario:hover {
  background-color: #4285f4;
  transition: 500ms;
  color: #fff;
}

/* Define the styles for TimeOverlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  z-index: 1;
}


/* Define the hover effect for TimeButton when in "clear" state */
.horario.clear:hover {
  background-color: #aa0909;
  transition: 500ms;
}

/* Define the styles for "From" and "To" labels in TimeList */
.de,
.ate {
  display: flex;
  justify-content: left;
  font-weight: bold;
}

button.close {
  /* background-color: #a30808; */
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 14px;
  color: #000;
  margin: -5px -10px 10px 125px;
  background-color: transparent;
  font-weight: bold;
}

button.back {
  background-color: #fff;
  color: #4285f4;
  font-weight: bold;
  margin-right: 45px;
  margin-left: 30px;
  border: 1px solid #4285f4;
}

button.back:hover {
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
  transition: 0.7s;
}

/* Define the styles for the hidden elements */
.hidden {
  display: none;
}

/* Define the styles for the control wrapper in TimeList */
.control-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Define the styles for the label-button wrapper */
.label-button-wrapper {
  display: flex;
  align-items: center;
}

.select-button {
  display: inline-flex;
  align-items: center;
}

.clear-icon {
  display: none;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 15px #00000085;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.dialog div {
  display: flex;
  flex-direction: row;
}

.dialog button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000033;
  color: #4285f4;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 10px;
}

/* SliderButtons */

.info-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 10px #00000085;
  z-index: 10;
}




@media (max-width: 1000px) {

  .reserva,
  .horario,
  .arena-btn  {
    font-size: 16px;
  }

  .horario.reservado {
    font-size: 16px;
  }

  .clear-icon {
    display: block;
    background-color: transparent;
    border: none;
    color: #a30505;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    margin-left: 128px;
    margin-top: -61px;
  }

  .info-button {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .info-button {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .horario.reservado {
    font-size: 20px;
  }

  .reserva,
  .horario {
    font-size: 20px;
  }

  .clear-icon {
    font-size: 16px;
    margin-left: 156px;
    margin-top: -65px;
  }

  .info-button {
    font-size: 10px;
  }
}

@media (max-width: 415px) {

  .horario.reservado {
    font-size: 14px;
    margin: 20px -20px 20px 0px;
  }

  .clear-icon {
    margin-left: 115px;
    margin-top: -58px;
  }

  .reserva,
  .horario {
    font-size: 14px;
  }

}

@media (max-width: 335px) {

  .reserva,
  .horario {
    font-size: 11px;
  }

  .info-button {
    font-size: 13px;
  }

  .horario.reservado {
    font-size: 12px;
  }

  .clear-icon {
    margin-left: 101px;
    margin-top: -56px;
    font-size: 14px;
  }

}