.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #262729;
  margin-top: 50px;
  box-shadow: 0px 2px 10px #00000085;
  width: 100%;
  background-color: #2c3038;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.social-medias {
  color: #fff;
}

.social-medias h3 {
  text-align: center;
}

.copyright-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
  margin-top: 20px;
  background-color: #262729;
  box-shadow: 0px -2px 10px #00000085;
}

.copyright-text {
  color: #fff;
  margin: 5px;
 
}

.copyright-link {
  color: #34cad2;
}

.social-medias a {
  display: inline-block;
  margin: 0 10px;
}

.email-container,
.phone-container {
  position: relative;
}

.email-icon,
.phone-icon {
  position: absolute;
  left: 0;
  top: 22px;
}

.contacts-email,
.contacts-phone {
  padding-left: 25px;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-whatsapp {
  margin-top: 20px;
  height: 35px;
}



@media (max-width: 750px) {

  .fa-facebook,
  .fa-instagram,
  .fa-linkedin,
  .fa-whatsapp {
    height: 25px;
  }

  h3.contacts,
  .socialmedia-title {
    font-size: 14px;
  }

  .contacts-email,
  .contacts-phone {
    margin: 5px;
    font-size: 12px;
  }

  .email-icon,
  .phone-icon {
    top: 6px;
  }

  .copyright-container{
    font-size: 10px;
  }

  .main-footer {
    position: relative;
    top: 230px;
  }
}

@media (max-width: 450px) {
  .email-icon,
  .phone-icon {
    height: 13px;
  }
  .fa-facebook,
  .fa-instagram,
  .fa-linkedin,
  .fa-whatsapp {
    height: 18px;
    margin-top: 0;
  }

  .social-medias {
    max-width: 100px;
  }

  .social-medias h3 {
    padding-right: 12px;
    margin-left: -5px;
  }
}

@media (max-width: 360px) {

  .fa-facebook,
  .fa-instagram,
  .fa-linkedin,
  .fa-whatsapp {
    height: 15px;
  }

  .social-medias {
    max-width: 80px;
  }

  .social-medias h3 {
    margin-left: 0px;
    font-size: 10px;
  }

  .contacts-email,
  .contacts-phone {
    margin: 5px;
    font-size: 8px;
  }

  .email-icon,
  .phone-icon {
    top: 6px;
  }

  .copyright-container{
    font-size: 8px;
  }
}