.fg-pass-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.fg-pass-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px #00000085;
    background-color: #fff;
    padding: 20px 50px 30px;
    height: auto;
    width: auto;
}

.msgs-container {
    min-height: 30px;
}

.smalllogo {
    width: 200px;
}

.fg-pass-title {
    margin: 20px 0 0;
}

.fg-pass-subtitle {
    margin: 0 0 35px;
}

.fg-pass-page .form-group {
    width: 90%;
} 

.fg-pass-page i {
  left: 0;
}

.fg-pass-page .form-style {
    padding: 13px 16px 13px 35px;
    height: 48px;
    width: 100%;
}

.fg-pass-page button {
    justify-content: center;
    width: 25%;
    padding: 5px 10px;
}

.fg-pass-msg {
    margin: 0;
    color: #029902;
    font-weight: bold;
    font-size: 12px;
}

.fg-pass-msg.err{
    margin: 0;
    color: #da0303;
}


@media (max-width: 475px) {
    .fg-pass-subtitle {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .fg-pass-form {
        padding: 15px 40px 20px;
    }
}

@media (max-width: 400px) {
    .fg-pass-subtitle {
        font-size: 12px;
    }

    .fg-pass-form {
        padding: 15px 30px 20px;
    }
}

@media (max-width: 350px) {
    .fg-pass-subtitle {
        font-size: 9.5px;
    }

    .fg-pass-form {
        padding: 15px 10px 20px;
    }

    .form-group {
        margin: 0 30px;
    }
}

@media (max-width: 300px) {

    .form-group {
        margin: 0 25px;
    }
}

