.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 2px 10px #00000085;
}

.title-method,
.title-coworking,
.title-bookings {
    color: #34cad3;
    margin: 0;
    padding: 0;
}

.title-method {
    font-size: 1rem;
}

.title-coworking {
    font-size: 4rem;
}


.f-container p {
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 500px;
    height: auto;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 10px #00000085;
    padding: 20px;
}

.slider-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Slider-Container*/

.slider-container {
    position: relative;
    width: 75%;
    height: 430px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.slider-dot.active {
    background-color: #444;
}


/* Info-containers */

.info-container {
    will-change: opacity;
    flex: 1;
    position: relative; 
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0px;
    transition: opacity 0.5s ease;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000085;
    background-color: #2c3038;
}

.info-container.visible {
    pointer-events: auto;
    padding: 0; 
}

.info-container.hidden {
    pointer-events: none;
}

.info-container .info-img {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
}

.info-container .info-text {
    flex: 1;
    color: #fff;
    padding: 12px;
    background-image: none;
    z-index: 1;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    text-shadow: 0px 0px 10px #00000085;
}

@media (max-width: 900px) {
    .slider-container {
        width: 90%;
    }
}

@media (max-width: 780px) {
    .slider-container {
        height: 350px;
    }

    .info-container {
        height: 80%; 
    }

    .slider-dots {
        display: none;
    }
}

@media (max-width: 650px) {
    .slider-container {
        height: 300px;        
    }

    .info-container {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .title-method {
        font-size: .7rem;
    }

    .title-coworking {
        font-size: 1.7rem;
    }

    .title-bookings {
        font-size: 1.7rem;
    }

    .slider-container {
        height: 260px;
        width: 95%;
    }
}

@media (max-width: 450px) {
    .title-method {
        font-size: .6rem;
    }

    .title-coworking {
        font-size: 1.6rem;
    }

    .title-bookings {
        font-size: 1.6rem;
    }

    .slider-container {
        height: 280px;  
    }

    .info-container .info-img {
        display: none;
    }

    .home-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slider-container {
        width: 90%;
    }

    
    .info-container {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .info-container::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        z-index: 0;
        border-radius: 20px;
    }
    

}

@media (max-width: 300px) {
    .title-method {
        font-size: .5rem;
    }

    .title-coworking {
        font-size: 1.4rem;
    }

    .title-bookings {
        font-size: 1.3rem;
    }

    .slider-container {
        height: 250px;
    }

}