.valid-checks {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 25px;
    opacity: 1;
    padding: 0;
    margin: -25px 20px 0 50px;
    display: flex;
    text-align: left;
    position: absolute;
    width: 70%;
    box-shadow: 0px 2px 10px #00000085;
    transition: .5s;
}

.valid-checks ul {
    list-style: none;
    margin: 0px;
    padding-left: 30px;
}

.valid-checks ul li {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    margin: 8px 0;
    color: #ccc;
    transition: .8s;
}

.valid-checks ul li i {
    font-size: 15px;
    margin-right: 8px;
}

.valid-checks ul li.checked {
    color: #4285f4;
    font-weight: 500;
}

 .hide {
    opacity: 0;
    display: none;
} 

.uil.uil-check {
    color: #ccc;
}

.uil.uil-check.checked {
    color: #4285f4;
}

@media (max-width: 500px) {
    .valid-checks ul li {
        font-size: 14px;
    }

    .valid-checks ul li i {
        font-size: 16px;
    }

    .valid-checks {
        margin: -20px 20px 0 15px;
        width: 90%;
    }
}

@media (max-width: 450px) {
    .valid-checks ul {
        padding-left: 25px;
    }
}

@media (max-width: 400px) {

    .valid-checks {
        margin: -20px 20px 0 0px;
        width: 100%;
    }

    .valid-checks ul li {
        font-size: 13px;
    }

    .valid-checks ul {
        padding-left: 15px;
    }

    .valid-checks ul li i {
        font-size: 14px;
    }
}

