.div-txt,
.txt2 {
    font-family: 'Helvetica Neue, Helvetica, Futura, Gothan, Sans-serif';
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt2 {
    font-size: 35px;
}

h4 {
    margin: 2px;
}

h2 {
    margin: -10px 0 10px 0;
    font-size: 60px;
}

.body-txt {
    margin: 2px;
}


@media (max-width: 1400px) {
    .div-txt {
        font-size: 25px;
    }
}

@media (max-width: 950px) {
    .div-txt {
        font-size: 23px;
    }
}

@media (max-width: 800px) {
    .div-txt {
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
    }

    .p-metodo {
        font-size: 27px;
    }
}

@media (max-width: 730px) {
    .div-txt {
        font-size: 16px;
    }

    h2 {
        font-size: 40px;
    }

    .txt2 {
        font-size: 27px;
    }

    .p-metodo {
        font-size: 22px;
    }
}

@media (max-width: 580px) {
    .div-txt {
        font-size: 14px;
    }

    h2 {
        font-size: 35px;
    }

    .txt2 {
        font-size: 23px;
    }

    .p-metodo {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .div-txt {
        font-size: 13.5px;
    }

    h2 {
        font-size: 35px;
    }

    .txt2 {
        font-size: 20px;
    }

    .p-metodo {
        font-size: 19px;
    }
}

@media (max-width: 490px) {
    .div-txt {
        font-size: 13px;
    }

    h2 {
        font-size: 22px;
    }

    .txt2 {
        font-size: 19px;
    }

    .p-metodo {
        font-size: 17px;
    }
}

@media (max-width: 450px) {
    .div-txt {
        font-size: 16px;
    }

    h2 {
        font-size: 28px;
    }

    .txt2 {
        font-size: 23px;
    }

    .p-metodo {
        font-size: 19px;
    }
}

@media (max-width: 300px) {
    .div-txt {
        font-size: 14px;
    }

    h2 {
        font-size: 25px;
    }

    .txt2 {
        font-size: 22px;
    }

    .p-metodo {
        font-size: 18px;
    }
}