.update-page {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.update-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 280px;
    width: 25%;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #fcfcfc;
    box-shadow: 0px 5px 10px #00000085;
}

.update-h2 {
    font-weight: bold;
    color: #262729;
    font-size: 33px;
    margin: 5px 0 15px 0;
}

.update-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.update-email-input,
.update-password-input {
    height: 35px;
    width: 100%;
    box-shadow: 0px 5px 10px #00000085;
    margin-bottom: 10px;
    padding: 10px;
}

.update-submit {
    margin-top: 15px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.update-submit:hover {
    border: 1px solid #4285f4;
    color: #4285f4;
    background-color: #fff;
    transition: .5s;
}

.update-msg {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.update-msg.password {
    text-align: center;
    margin-bottom: -5px;
}

@media (max-width: 1250px) {
    .update-container {
        padding: 10px 25px;
    }

    .update-h2 {
        font-size: 30px;
    }
}

@media (max-width: 1100px) {
    .update-container {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .update-container {
        padding: 10px 20px;
        height: 250px;
        width: 35%;
    }

    .update-h2 {
        font-size: 24px;
    }

    .update-form {
        width: 100%;
    }

    .update-email-input,
    .update-password-input {
        height: 28px;
    }
}

@media (max-width: 768px) {
    .update-container {
        width: 42%;
        height: 220px;
    }

    .update-msg.password {
        margin-bottom: -10px;
        font-size: 10px;
    }
}

@media (max-width: 730px) {
    .update-container {
        height: 225px;
    }
}

@media (max-width: 700px) {
    .update-container {
        height: 230px;
    }
}

@media (max-width: 540px) {
    .update-container {
        height: 227px;
        width: 60%;
    }
}

@media (max-width: 450px) {
    .update-container {
        width: 70%;
        height: 235px;
    }
}

@media (max-width: 350px) {
    .update-container {
        width: 80%;
    }

    .update-msg.password {
        font-size: 9px;
    }
}